body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.quotes {
  font-style: italic;
}

.quotes::before,
.quotes::after {
  content: '"';
}
