body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

#toggle-favorite-btn {
  display: none;
}

.quotes {
  font-style: italic;
}

.quotes::before,
.quotes::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #f9f9f9;
  color: darkslategray;
  border: 1px solid #555;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 25%;
}
